<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>Tourist Guide</title>
    <link rel="stylesheet" href="style/styles.css">
</head>
<body>
<a href="/"><img src="top-image.jpg"></a>
<h1>List of attractions</h1>
<p class="desc">See your list of all attractions</p>

<section>
    <ul>
        <li th:each="attraction : ${attractions}">
            <a th:text="${attraction.getName()}"></a>
        </li>
    </ul>
</section>

<footer>
    <p>Contact:</p>
    <p><a href="touristguide@example.com">touristguide@example.com</a></p>
</footer>
</body>
</html>