<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>All Attractions</title>
</head>
<body>
<header>
    <h1>See All Attractions</h1>
</header>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Descriptions </th>
        <th rowspan="3"> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${attractions.empty}">
        <td colspan="2"> No attractions </td>
    </tr>
    <tr th:each="attraction : ${attractions}">
        <td><span th:text="${attraction.name}"> Name </span></td>
        <td><span th:text="${attraction.description}"> Description </span></td>

        <td>
            <a th:href="@{'/attractions/' + ${attraction.name} + '/tags'}">
                <button>Tags</button>
            </a>

            <a th:href="@{'/attraction/update'}">
                <button>Update</button>
            </a>


            <a th:href="@{'/attractions/delete/' + ${attraction.name}}">
                <button>Delete</button>
            </a>
        </td>

    </tr>
    </tbody>
</table>
<a href="attractions/add">
    <button>Tilføj attraktion</button>
</a>
</body>
</html>
</html>