<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>All Attractions</title>
</head>
<body>
<header>
    <h1>List of all Attractions</h1>
</header>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Descriptions </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${attractions}">
        <td><span th:text="${attraction.name}"> Name </span></td>
        <td><span th:text="${attraction.description}"> Description </span></td>

        <td>
            <a th:href="@{'/attractions/' + ${attraction.name} + '/tags'}">
                <button>Tags</button>
            </a>
            <form th:href="@{'/attraction/update'}" method="post">
                <button type="submit">Edit</button>
            </form>

            <form th:action="@{'/attractions/delete/' + ${attraction.name}}" method="post">
                <button type="submit">Delete</button>
            </form>

    </tr>
    </tbody>
</table>
<a href="attractions/add">
    <button>Tilføj attraktion</button>
</a>
</body>
</html>
</html>