<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:object="${touristAttraction}" th:action="@{/attractions/update}" method="post">

    <label for="attraction">Enter Attraction</label>
    <input type="text" id="attraction" name="name" th:value="${touristAttraction.getName()}">

    <label for="description">Enter Description</label>
    <input type="text" id="description" name="description" th:value="${touristAttraction.getDescription()}">


    <label for="city">Enter City</label>
    <select th:field="*{city}">
        <option value="">--Select city--</option>
        <option id="city" th:each="city : ${T(tourism.util.City).values()}" th:value="${city}" th:text="${city.getDisplayName()}"></option>
    </select>


    <label for="tags">Select new Tags</label>
    <div th:each="tag : ${T(tourism.util.Tag).values()}">
        <input  id="tags" type="checkbox" th:field="*{tags}" th:value="${tag}" th:id="${tag}">
        <label th:for="${tag}" th:text="${tag.getDisplayname()}">Tag</label>
    </div>



    <button type="submit">Submit Changes</button>

</form>


</body>
</html>