<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <title>Tourist Guide</title>
    <link rel="stylesheet" href="/style/styles.css">
</head>
<body>
<a href="/"><img src="/images/top-image.jpg"></a>
<h1>Attractions in Copenhagen</h1>
<p class="desc">Tourist guide in Copenhagen for a wonderful weekend trip</p>
<nav>
<ul><a href="https://www.thedanishparliament.dk/en/the-tower/visit">Visit Danish Parliament</a></ul>
<img src="/images/christiansborg.jpg"  width="200" height="250">
<ul><a href="https://www.tivoli.dk/en/">Visit Tivoli</a></ul>
<img src="/images/tivoli.jpg" width="200" height="250">
<ul><a href="/attractions">See the list of attractions</a></ul>
<ul><a href="/attractions/nyhavn">Check out Nyhavn</a></ul>
</nav>
<footer>
    <p>Contact:</p>
    <p><a href="touristguide@example.com">touristguide@example.com</a></p>
</footer>
</body>
</html>