<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>All Attractions</title>
</head>
<body>
<header>
    <h1>All tags</h1>
</header>
<table>
    <thead>
    <tr>
        <th>Tags</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="tag : ${tags}">
        <td><span th:text="${tag}">Tag</span></td>
    </tr>
    </tbody>
</table>
<a href="http://localhost:8080/attractions"><button>Tilbage</button></a>
</body>
</html>
</html>