<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/nav :: nav">...</div>

<body>
<h1></h1>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${tags}">
            <td><span th:text="${tag.getDisplayName()}"> Tags </span></td>
        </tbody>
    </table>
    <a href="https://touristguiden-gnefgrbze8fyg0fx.westeurope-01.azurewebsites.net/attractions">
        <button class="btn btn-secondary btn-sm">Tilbage</button>
    </a>
</div>
</body>
</html>